:root{
    --black: #16161a;
    --header: #fffffe;
    --paragraph: #94a1b2;
    --button: #7f5af0;
    --button_text: #fffffe;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: 100%;
  height: 100%;
}

ol, ul{
    list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content_grid{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 7vw auto 7vw;
    grid-template-rows: 80px;
    grid-template-areas: 
    "social head empty"
    "social  main empty"
    "social  main empty";
}

.empty{
    grid-area: empty;
    background-color: var(--black);
}

.page_header{
    grid-area: head;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav_container{
    width: 40%;
    height: 100%;
    display: flex;
}

.nav_links{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link > a{
    padding: 20px;
    text-decoration: none;
    color: var(--paragraph);
}

.link > a:hover{
    color: var(--button);
    cursor: pointer;
}

.social_container{
    grid-area: social;
    background-color: blue;
    height: 100%;
    width: 100%;
}

.social_links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--black);
}

.social_links::after{
    content: "";
    display: block;
    width: 1px;
    height: 15%;
    margin: 0px auto;
    background-color: var(--paragraph);
}

.slinks{
    padding-bottom: 30px;
    color: var(--paragraph);
}

.slinks:hover{
    color: var(--button);
    cursor: pointer;
}


.content_container{
    grid-area: main;
    background-color: var(--black);
}
